name: Lint and Test

env:
  GH_USER: cryptoAlgorithm

on:
  push:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: macos-12

    steps:
      - uses: actions/checkout@v3
      
      - name: Init submodules
        env:
          TOKEN: ${{ secrets.GH_TOKEN }}
          USER: ${{ env.GH_USER }}
        run: |
          git config --system credential.helper store
          echo "https://$USER:$TOKEN@github.com" > ~/.git-credentials
          git submodule update --init

      - name: Xcode Select
        uses: devbotsxyz/xcode-select@v1.1.0
        with:
          version: 13.3.1

      # Runs a single command using the runners shell
      - name: Build
        run: swift build

  test:
    runs-on: macos-12
    needs: [build]

    steps:
      - uses: actions/checkout@v3
      
      - name: Init submodules
        env:
          TOKEN: ${{ secrets.GH_TOKEN }}
          USER: ${{ env.GH_USER }}
        run: |
          git config --system credential.helper store
          echo "https://$USER:$TOKEN@github.com" > ~/.git-credentials
          git submodule update --init

      - name: Xcode Select
        uses: devbotsxyz/xcode-select@v1.1.0
        with:
          version: 13.3.1

      - name: Test
        run: swift test

  lint:
    runs-on: ubuntu-latest
    needs: [build]

    steps:
      - uses: actions/checkout@v1
      
      - name: Init submodules
        env:
          TOKEN: ${{ secrets.GH_TOKEN }}
          USER: ${{ env.GH_USER }}
        run: |
          git config --system credential.helper store
          echo "https://$USER:$TOKEN@github.com" > ~/.git-credentials
          git submodule update --init

      - name: SwiftLint
        uses: norio-nomura/action-swiftlint@3.2.1
