name: Lint and Test

on:
  push:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build_and_test:
    # The type of runner that the job will run on
    strategy:
      matrix:
        os: [macos-12, ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Xcode Select
        uses: devbotsxyz/xcode-select@v1.1.0
        with:
          version: 13.3.1
        if: matrix.os == 'macos-12'

      # Runs a single command using the runners shell
      - name: Build
        run: swift build

      - name: Test
        run: swift test

  test:
    runs-on: macos-12
    needs: [build_and_test]

    steps:
      - uses: actions/checkout@v3

      - name: Xcode Select
        uses: devbotsxyz/xcode-select@v1.1.0
        with:
          version: 13.3.1


  lint:
    runs-on: ubuntu-latest
    needs: [build]

    steps:
      - uses: actions/checkout@v1

      - name: SwiftLint
        uses: norio-nomura/action-swiftlint@3.2.1
